header, section, footer, aside, nav, article, figure, figcaption {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.384);
    padding: 25px;
    text-align: center;
    width: 97%;
    top: 0;
    z-index: 10;
}
nav
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    color: #ffffff;

}
.background-container {
    background-image: url('images/tenzbg.jpeg');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.p1 {
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
    font-size: 20px;
}
.wrapper {
    background-color: #00000083;
    padding: 10px;
    border: 2px solid #330000;
    width: 870px;

}

a {
    text-decoration: none; 
    color: #ffffff; 
    
}

a:hover {
    color: #778a0d;
    text-decoration: underline; 
}
footer {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    width: 98.7%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
